mixin graph5()
  svg(width="255" height="250")
    defs
      mask#s5_1
        rect.borrar/
        circle.circulo.D5/
        circle.circulo.C5/
        circle.circulo.B5/
        circle.circulo.E5/
      mask#s5_2
        rect.borrar/
        circle.circulo.D5/
        circle.circulo.C5/
        circle.circulo.A5/
        circle.circulo.E5/
      mask#s5_3
        rect.borrar/
        circle.circulo.D5/
        circle.circulo.A5/
        circle.circulo.B5/
        circle.circulo.E5/
      mask#s5_4
        rect.borrar/
        circle.circulo.A5/
        circle.circulo.C5/
        circle.circulo.B5/
        circle.circulo.E5/
      mask#s5_5
        rect.borrar/
        circle.circulo.A5/
        circle.circulo.C5/
        circle.circulo.B5/
        circle.circulo.D5/
      mask#s5_6
        rect.borrar/
        circle.circulo.D5/
        circle.circulo.C5/
        circle.circulo.E5/
        circle.A5(mask="url(#s5_1)")/
        circle.B5(mask="url(#s5_2)")/
      mask#s5_7
        rect.borrar/
        circle.circulo.D5/
        circle.circulo.A5/
        circle.circulo.E5/
        circle.B5(mask="url(#s5_2)")/
        circle.C5(mask="url(#s5_3)")/
      mask#s5_8
        rect.borrar/
        circle.circulo.A5/
        circle.circulo.B5/
        circle.circulo.E5/
        circle.C5(mask="url(#s5_3)")/
        circle.D5(mask="url(#s5_4)")/
      mask#s5_9
        rect.borrar/
        circle.circulo.A5/
        circle.circulo.C5/
        circle.circulo.B5/
        circle.D5(mask="url(#s5_4)")/
        circle.E5(mask="url(#s5_5)")/
      mask#s5_10
        rect.borrar/
        circle.circulo.C5/
        circle.circulo.B5/
        circle.circulo.D5/
        circle.A5(mask="url(#s5_1)")/
        circle.E5(mask="url(#s5_5)")/
      mask#s5_11
        rect.borrar/
        circle.circulo.D5/
        circle.circulo.C5/
        circle.A5(mask="url(#s5_1)")/
        circle.A5(mask="url(#s5_6)")/
        circle.E5(mask="url(#s5_10)")/
      mask#s5_12
        rect.borrar/
        circle.circulo.D5/
        circle.circulo.E5/
        circle.B5(mask="url(#s5_2)")/
        circle.A5(mask="url(#s5_6)")/
        circle.B5(mask="url(#s5_7)")/
      mask#s5_13
        rect.borrar/
        circle.circulo.A5/
        circle.circulo.E5/
        circle.C5(mask="url(#s5_3)")/
        circle.B5(mask="url(#s5_7)")/
        circle.C5(mask="url(#s5_8)")/ 
      mask#s5_14
        rect.borrar/
        circle.circulo.A5/
        circle.circulo.B5/
        circle.D5(mask="url(#s5_4)")/
        circle.C5(mask="url(#s5_8)")/
        circle.D5(mask="url(#s5_9)")/
      mask#s5_15
        rect.borrar/
        circle.circulo.C5/
        circle.circulo.B5/
        circle.E5(mask="url(#s5_5)")/
        circle.D5(mask="url(#s5_9)")/
        circle.E5(mask="url(#s5_10)")/
      mask#s5_16
        rect.borrar/
        circle.circulo.D5/
        circle.A5(mask="url(#s5_1)")/
        circle.A5(mask="url(#s5_6)")/
        circle.E5(mask="url(#s5_10)")/
        circle.A5(mask="url(#s5_11)")/
        circle.B5(mask="url(#s5_12)")/
      mask#s5_17
        rect.borrar/
        circle.circulo.E5/
        circle.B5(mask="url(#s5_2)")/
        circle.A5(mask="url(#s5_6)")/
        circle.B5(mask="url(#s5_7)")/
        circle.B5(mask="url(#s5_12)")/
        circle.C5(mask="url(#s5_13)")/
      mask#s5_18
        rect.borrar/
        circle.circulo.A5/
        circle.C5(mask="url(#s5_3)")/
        circle.B5(mask="url(#s5_7)")/
        circle.C5(mask="url(#s5_8)")/
        circle.C5(mask="url(#s5_13)")/
        circle.D5(mask="url(#s5_14)")/
      mask#s5_19
        rect.borrar/
        circle.circulo.B5/
        circle.D5(mask="url(#s5_4)")/
        circle.C5(mask="url(#s5_8)")/
        circle.D5(mask="url(#s5_9)")/
        circle.D5(mask="url(#s5_14)")/
        circle.E5(mask="url(#s5_15)")/
      mask#s5_20
        rect.borrar/
        circle.circulo.C5/
        circle.E5(mask="url(#s5_5)")/
        circle.D5(mask="url(#s5_9)")/
        circle.E5(mask="url(#s5_10)")/
        circle.A5(mask="url(#s5_11)")/
        circle.E5(mask="url(#s5_15)")/
      mask#s5_21
        rect.borrar/
        circle.A5(mask="url(#s5_1)")/
        circle.A5(mask="url(#s5_6)")/
        circle.E5(mask="url(#s5_10)")/
        circle.A5(mask="url(#s5_11)")/
        circle.B5(mask="url(#s5_12)")/
        circle.E5(mask="url(#s5_15)")/
        circle.A5(mask="url(#s5_16)")/
        circle.B5(mask="url(#s5_17)")/
        circle.D5(mask="url(#s5_19)")/
        circle.E5(mask="url(#s5_20)")/
      mask#s5_22
        rect.borrar/
        circle.circulo.A5/
        circle.circulo.D5/
        circle.circulo.C5/
        circle.circulo.B5/
        circle.circulo.E5/
      
    circle#f5_1.set.A5.hide(mask="url(#s5_1)")/
    circle#f5_2.set.B5.hide(mask="url(#s5_2)")/
    circle#f5_3.set.C5.hide(mask="url(#s5_3)")/
    circle#f5_4.set.D5.hide(mask="url(#s5_4)")/
    circle#f5_5.set.E5.hide(mask="url(#s5_5)")/

    circle#f5_6.set.A5.hide(mask="url(#s5_6)")/
    circle#f5_7.set.B5.hide(mask="url(#s5_7)")/
    circle#f5_8.set.C5.hide(mask="url(#s5_8)")/
    circle#f5_9.set.D5.hide(mask="url(#s5_9)")/
    circle#f5_10.set.E5.hide(mask="url(#s5_10)")/

    circle#f5_11.set.A5.hide(mask="url(#s5_11)")/
    circle#f5_12.set.B5.hide(mask="url(#s5_12)")/
    circle#f5_13.set.C5.hide(mask="url(#s5_13)")/
    circle#f5_14.set.D5.hide(mask="url(#s5_14)")/
    circle#f5_15.set.E5.hide(mask="url(#s5_15)")/

    circle#f5_16.set.A5.hide(mask="url(#s5_16)")/
    circle#f5_17.set.B5.hide(mask="url(#s5_17)")/
    circle#f5_18.set.C5.hide(mask="url(#s5_18)")/
    circle#f5_19.set.D5.hide(mask="url(#s5_19)")/
    circle#f5_20.set.E5.hide(mask="url(#s5_20)")/

    circle#f5_21.set.A5.hide(mask="url(#s5_21)")/
    
    rect#f5_22.set.hide(width="255" height="250" mask="url(#s5_22)")/
    
    circle.A5.circulo.contorno/
    circle.B5.circulo.contorno/
    circle.C5.circulo.contorno/
    circle.D5.circulo.contorno/
    circle.E5.circulo.contorno/
    rect.contornoR(width="255" height="250")/