mixin graph2()
  svg(width="241" height="141")
    defs
      mask#s2_1
        rect.borrar/
        circle.circulo.B3/
      mask#s2_2
        rect.borrar/
        circle.circulo.A3/
      mask#s2_3
        rect.borrar/
        circle.A3(mask="url(#s2_1)")/
        circle.B3(mask="url(#s2_2)")/
      mask#s2_4
        rect.borrar/
        circle.circulo.B3/
        circle.circulo.A3/
    
    circle#f2_1.A3.set.hide(mask="url(#s2_1)")/
    circle#f2_2.B3.set.hide(mask="url(#s2_2)")/
    circle#f2_3.A3.set.hide(mask="url(#s2_3)")/

    rect#f2_4.set.hide(width="241" height="141" mask="url(#s2_4)")/

    circle.A3.circulo.contorno/
    circle.B3.circulo.contorno/
    rect.contornoR(width="241" height="141")/