mixin graph4()
  svg(width="222" height="222")
    defs
      mask#s4_1
        rect.borrar/
        circle.circulo.D4/
        circle.circulo.C4/
        circle.circulo.B4/
      mask#s4_2
        rect.borrar/
        circle.circulo.D4/
        circle.circulo.C4/
        circle.circulo.A4/
      mask#s4_3
        rect.borrar/
        circle.circulo.C4/
        circle.circulo.B4/
        circle.circulo.A4/
      mask#s4_4
        rect.borrar/
        circle.circulo.D4/
        circle.circulo.B4/
        circle.circulo.A4/
      mask#s4_5
        rect.borrar/
        circle.circulo.C4/
        circle.circulo.D4/
        circle.circulo.A4(mask="url(#s4_1)")/
        circle.circulo.B4(mask="url(#s4_2)")/
      mask#s4_6
        rect.borrar/
        circle.circulo.C4/
        circle.circulo.A4/
        circle.circulo.A4(mask="url(#s4_3)")/
        circle.circulo.B4(mask="url(#s4_2)")/
      mask#s4_7
        rect.borrar/
        circle.circulo.B4/
        circle.circulo.A4/
        circle.C4(mask="url(#s4_4)")/
        circle.D4(mask="url(#s4_3)")/
      mask#s4_8
        rect.borrar/
        circle.circulo.B4/
        circle.circulo.D4/
        circle.A4(mask="url(#s4_1)")/
        circle.D4(mask="url(#s4_4)")/
      mask#s4_9
        rect.borrar/
        circle.D4/
        circle.A4(mask="url(#s4_1)")/
        circle.A4(mask="url(#s4_5)")/
        circle.A4(mask="url(#s4_8)")/
      mask#s4_10
        rect.borrar/
        circle.C4/
        circle.B4(mask="url(#s4_2)")/
        circle.A4(mask="url(#s4_5)")/
        circle.B4(mask="url(#s4_6)")/
      mask#s4_11
        rect.borrar/
        circle.A4/
        circle.D4(mask="url(#s4_3)")/
        circle.B4(mask="url(#s4_6)")/
        circle.C4(mask="url(#s4_7)")/
      mask#s4_12
        rect.borrar/
        circle.B4/
        circle.C4(mask="url(#s4_4)")/
        circle.C4(mask="url(#s4_7)")/
        circle.A4(mask="url(#s4_8)")/
      mask#s4_13
        rect.borrar/
        circle.A4(mask="url(#s4_1)")/
        circle.B4(mask="url(#s4_2)")/
        circle.D4(mask="url(#s4_3)")/
        circle.C4(mask="url(#s4_4)")/

        circle.A4(mask="url(#s4_5)")/
        circle.B4(mask="url(#s4_6)")/
        circle.C4(mask="url(#s4_7)")/
        circle.A4(mask="url(#s4_8)")/

        circle.A4(mask="url(#s4_9)")/
        circle.B4(mask="url(#s4_10)")/
        circle.D4(mask="url(#s4_11)")/
        circle.C4(mask="url(#s4_12)")/
          
      mask#s4_14
        rect.borrar/
        circle.A4(mask="url(#s4_1)")/
        circle.B4(mask="url(#s4_2)")/
        circle.D4(mask="url(#s4_3)")/
        circle.C4(mask="url(#s4_4)")/
        circle.A4(mask="url(#s4_5)")/
        circle.B4(mask="url(#s4_6)")/
        circle.C4(mask="url(#s4_7)")/
        circle.A4(mask="url(#s4_8)")/
        circle.A4(mask="url(#s4_9)")/
        circle.B4(mask="url(#s4_10)")/
        circle.D4(mask="url(#s4_11)")/
        circle.C4(mask="url(#s4_12)")/
        circle.C4(mask="url(#s4_13)")/
    
    circle#f4_1.set.A4.hide(mask="url(#s4_1)")/
    circle#f4_2.set.B4.hide(mask="url(#s4_2)")/
    circle#f4_3.set.D4.hide(mask="url(#s4_3)")/
    circle#f4_4.set.C4.hide(mask="url(#s4_4)")/

    circle#f4_5.set.A4.hide(mask="url(#s4_5)")/
    circle#f4_6.set.B4.hide(mask="url(#s4_6)")/
    circle#f4_7.set.C4.hide(mask="url(#s4_7)")/
    circle#f4_8.set.A4.hide(mask="url(#s4_8)")/

    circle#f4_9.set.A4.hide(mask="url(#s4_9)")/
    circle#f4_10.set.B4.hide(mask="url(#s4_10)")/
    circle#f4_11.set.D4.hide(mask="url(#s4_11)")/
    circle#f4_12.set.C4.hide(mask="url(#s4_12)")/

    circle#f4_13.set.C4.hide(mask="url(#s4_13)")/
    
    rect#f4_14.set.hide(width="222" height="222" mask="url(#s4_14)")/
    
    circle.A4.circulo.contorno/
    circle.B4.circulo.contorno/
    circle.C4.circulo.contorno/
    circle.D4.circulo.contorno/
    rect.contornoR(width="222" height="222")/